#logoBar{
  text-align: center;
  width: 100vw;
  /* height: 100vh; */
}
#siteLogo{
  width: 100%;
}
body {
  display: flex;
  background-color: yellow;
  flex-direction: column;
}
#staffGallery{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.galleryImage{
  width: 100%;
  margin-right: auto;
  border-bottom: 5px solid black;

}
h1 {
  color: blue;
}
html{
  font-family: 'Courier New', Courier, monospace;
}
.galleryCard{
  border: 5px solid black;
  border-radius: 10px;
  height: fit-content;
  margin: 20px;
  text-align: center;
  width: 200px;
}

hr {
  /* min-height: 100vh; */
  margin: 0;
}


@media screen and (min-width: 600px) {
  #logoBar{
    width: 30vw;
    height: 100vh;
  }
  #siteLogo{
    width: 100%;
  }
  body {
    display: flex;
    background-color: pink;
    flex-direction: row;
  }
  #staffGallery{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
  }
}