#logoBar{
  text-align: center;
  width: 100vw;
  /* height: 100vh; */
}
#siteLogo{
  width: 100%;
}
body {
  display: flex;
  background-color: pink;
  flex-direction: column;
}
#staffGallery{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-left: 0;
  border-top: 3px solid #6D2E46;
}
.galleryImage{
  width: 100%;
  margin-right: auto;
  border-bottom: 5px solid #EDD382;
}
h1 {
  color: blue;
}
html{
  font-family: sans-serif
}
.galleryCard{
  border: 5px solid #EDD382;
  background-color: #F2F3AE;
  border-radius: 10px;
  height: fit-content;
  margin: 20px;
  text-align: center;
  width: 200px;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.6);
}

@media screen and (min-width: 600px) {
  #logoBar{
    width: 30vw;
    height: 100vh;
    border-bottom: 0;
  }
  #siteLogo{
    width: 100%;
  }
  body {
    display: flex;
    background-color: pink;
    flex-direction: row;
  }
  #staffGallery{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    border-left: 3px solid #6D2E46;
    border-top: 0;
  }
}